/* PADRÃO DE CORES DO MANUAL SENAI */
:root {
    --red: #e30613;
    --black: #000000;
    --white: #ffffff;
    --gray: #878787;
    --redMedium: #9a1915;
    --redDark: #681413;
    --yellow: #ffd12E;
    --claro: #FEF5A4;
    --georgia: "Georgia Pro";
    --amarelo: #FFEE59;
    --amarelo-t2: #fee483;
}

/* AQUI ESTÃO SOMENTE AS TAGS COM SUAS PROPRIEDADES */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--claro);
    width: 100%;
    min-height: 100%;
}

header {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
}

a {
    text-decoration: none;
    align-items: center;
    display:contents;
}

ul {
    list-style: none;
}

main {
    max-width: 1440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 45px;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
}

h2 {
    text-align: center;
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
}

footer {
    background-color: var(--red);
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    position: relative;
    margin: auto;
}

/* AQUI COMEÇA OS STYLES DAS CLASSES E IDS */
.container-fluid {
    max-width: 1440px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 50px 0 20px 0;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-logo {
    align-items: center;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    border-bottom: 5px solid transparent;
}

.nav-link {
    font-weight: 700;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
}

.footer-icons {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.items-social-media {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.footer-link {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* classe criada pelo professor wesley para deixar imagens responsivas */
.imagem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#multiple {
    width: 30%;
    height: 5%;
}

#abelha {
    width: 15%;
    height: 5%;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.texto-tabuada {
    background-color: var(--yellow);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: 20px solid var(--amarelo-t2);
    max-width: 600px ;
    max-height: fit-content;
    padding: 5px;
    text-align: justify;
    margin-top: 20px;
}

.id-video {
    height:365px !important;
    width: 700px !important;
    border: 20px solid var(--amarelo-t2);
    margin-top: 20px;
}

.content-button{
    margin-top: 20px;
}

.quizz {
    font-size: 30px;
    color: var(--black);
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px (var(--amarelo));
    margin-bottom: 14px;
}

.button {
    background-color: var(--yellow);
    border: none;
    color: black;
    padding: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

#texto-video {
    margin-top: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--black);
}

@media (max-width: 700px) {
    .id-video {
        max-height: 150px;
        max-width: 250px;
    }
}